# apps/custom-resources/claims/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: BucketClaim
      name: bucket-claim-base
    patch: |-
      - op: replace
        path: /metadata/name
        value: dev-test-bucket-secure
      - op: replace
        path: /spec/bucketName
        value: dev-test-bucket-secure
      - op: add
        path: /spec/compositionRef
        value:
          name: s3bucket-secure
      - op: add
        path: /spec/requireSSL
        value: true
      - op: add
        path: /spec/encryption
        value: true
      - op: replace
        path: /spec/tags
        value:
          - key: Environment
            value: dev
          - key: Owner
            value: fac
